{
  "openapi": "3.1.1",
  "info": {
    "title": "SolarWinds Service Desk API",
    "version": "2026.5.27",
    "description": "Generated from SolarWinds.Api Refit interfaces and models."
  },
  "servers": [
    {
      "url": "https://api.samanage.com",
      "description": "SolarWinds Service Desk (US)"
    },
    {
      "url": "https://apieu.samanage.com",
      "description": "SolarWinds Service Desk (EU)"
    },
    {
      "url": "https://apiau.samanage.com",
      "description": "SolarWinds Service Desk (APJ)"
    }
  ],
  "paths": {
    "/attachments.json": {
      "post": {
        "operationId": "IAttachments_CreateAsync_attachment",
        "tags": [
          "Attachments"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Attachment"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Attachment"
              }
            }
          }
        }
      }
    },
    "/audits.json": {
      "get": {
        "operationId": "IAudits_GetAsync",
        "tags": [
          "Audits"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Audit"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{objectType}/{id}/audits.json": {
      "get": {
        "operationId": "IAudits_GetByObjectAsync_objectType_id",
        "tags": [
          "Audits"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Audit"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "objectType",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ObjectType"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ]
      }
    },
    "/catalog_items.json": {
      "post": {
        "operationId": "ICatalogItems_CreateAsync_request",
        "tags": [
          "Catalog Items"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogItem"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CatalogItemCreateRequest"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "ICatalogItems_GetAsync_request",
        "tags": [
          "Catalog Items"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CatalogItem"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "layout",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ResponseLayout"
            }
          }
        ]
      }
    },
    "/catalog_items/{id}.json": {
      "delete": {
        "operationId": "ICatalogItems_DeleteAsync_id",
        "tags": [
          "Catalog Items"
        ],
        "responses": {
          "204": {
            "description": "No content"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ]
      },
      "get": {
        "operationId": "ICatalogItems_GetAsync_id_layout",
        "tags": [
          "Catalog Items"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogItem"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "layout",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ResponseLayout"
            }
          }
        ]
      },
      "put": {
        "operationId": "ICatalogItems_UpdateAsync_id_request",
        "tags": [
          "Catalog Items"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogItem"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CatalogItemUpdateRequest"
              }
            }
          }
        }
      }
    },
    "/categories.json": {
      "post": {
        "operationId": "ICategories_CreateAsync_request",
        "tags": [
          "Categories"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Category"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CategoryCreateRequest"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "ICategories_GetAsync_request",
        "tags": [
          "Categories"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Category"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "layout",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ResponseLayout"
            }
          }
        ]
      }
    },
    "/categories/{id}.json": {
      "delete": {
        "operationId": "ICategories_DeleteAsync_id",
        "tags": [
          "Categories"
        ],
        "responses": {
          "204": {
            "description": "No content"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ]
      },
      "get": {
        "operationId": "ICategories_GetAsync_id_layout",
        "tags": [
          "Categories"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Category"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "layout",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ResponseLayout"
            }
          }
        ]
      },
      "put": {
        "operationId": "ICategories_UpdateAsync_id_request",
        "tags": [
          "Categories"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Category"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CategoryUpdateRequest"
              }
            }
          }
        }
      }
    },
    "/change_catalogs.json": {
      "post": {
        "operationId": "IChangeCatalogs_CreateAsync_request",
        "tags": [
          "Change Catalogs"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeCatalog"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeCatalogCreateRequest"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "IChangeCatalogs_GetAsync",
        "tags": [
          "Change Catalogs"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChangeCatalog"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/change_catalogs/{id}.json": {
      "delete": {
        "operationId": "IChangeCatalogs_DeleteAsync_id",
        "tags": [
          "Change Catalogs"
        ],
        "responses": {
          "204": {
            "description": "No content"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ]
      },
      "get": {
        "operationId": "IChangeCatalogs_GetAsync_id_layout",
        "tags": [
          "Change Catalogs"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeCatalog"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "layout",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ResponseLayout"
            }
          }
        ]
      },
      "put": {
        "operationId": "IChangeCatalogs_UpdateAsync_id_request",
        "tags": [
          "Change Catalogs"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeCatalog"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeCatalogUpdateRequest"
              }
            }
          }
        }
      }
    },
    "/change_catalogs/{id}/change_requests.json": {
      "post": {
        "operationId": "IChangeRequests_CreateAsync_id_request",
        "tags": [
          "Change Requests"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Change"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeRequestCreateRequest"
              }
            }
          }
        }
      }
    },
    "/changes.json": {
      "post": {
        "operationId": "IChanges_CreateAsync_request",
        "tags": [
          "Changes"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Change"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeCreateRequest"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "IChanges_GetAsync_request",
        "tags": [
          "Changes"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Change"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "layout",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ResponseLayout"
            }
          }
        ]
      }
    },
    "/changes/{id}.json": {
      "delete": {
        "operationId": "IChanges_DeleteAsync_id",
        "tags": [
          "Changes"
        ],
        "responses": {
          "204": {
            "description": "No content"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ]
      },
      "get": {
        "operationId": "IChanges_GetAsync_id_layout",
        "tags": [
          "Changes"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Change"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "layout",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ResponseLayout"
            }
          }
        ]
      },
      "put": {
        "operationId": "IChanges_UpdateAsync_id_request",
        "tags": [
          "Changes"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Change"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeUpdateRequest"
              }
            }
          }
        }
      }
    },
    "/{objectType}/{id}/comments.json": {
      "post": {
        "operationId": "IComments_CreateAsync_objectType_id_request",
        "tags": [
          "Comments"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "objectType",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ObjectType"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentCreateRequest"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "IComments_GetAsync_objectType_id_unmasked",
        "tags": [
          "Comments"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Comment"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "objectType",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ObjectType"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "unmasked",
            "in": "query",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ]
      }
    },
    "/{objectType}/{id}/comments/{commentId}.json": {
      "delete": {
        "operationId": "IComments_DeleteAsync_objectType_id_commentId",
        "tags": [
          "Comments"
        ],
        "responses": {
          "204": {
            "description": "No content"
          }
        },
        "parameters": [
          {
            "name": "objectType",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ObjectType"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ]
      },
      "put": {
        "operationId": "IComments_UpdateAsync_objectType_id_commentId_request",
        "tags": [
          "Comments"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "objectType",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ObjectType"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentUpdateRequest"
              }
            }
          }
        }
      }
    },
    "/configuration_items/{id}/append_multiple_dependent_assets.json": {
      "put": {
        "operationId": "IConfigurationItems_AppendDependentAssetsAsync_id_request",
        "tags": [
          "Configuration Items"
        ],
        "responses": {
          "204": {
            "description": "No content"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppendDependentAssetsRequest"
              }
            }
          }
        }
      }
    },
    "/configuration_items.json": {
      "post": {
        "operationId": "IConfigurationItems_CreateAsync_request",
        "tags": [
          "Configuration Items"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigurationItem"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfigurationItemCreateRequest"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "IConfigurationItems_GetAsync_request",
        "tags": [
          "Configuration Items"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ConfigurationItem"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "layout",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ResponseLayout"
            }
          }
        ]
      }
    },
    "/asset_links/delete_asset_link_by_id.json": {
      "put": {
        "operationId": "IConfigurationItems_DeleteAssetLinkAsync_request",
        "tags": [
          "Configuration Items"
        ],
        "responses": {
          "204": {
            "description": "No content"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteAssetLinkRequest"
              }
            }
          }
        }
      }
    },
    "/configuration_items/{id}.json": {
      "delete": {
        "operationId": "IConfigurationItems_DeleteAsync_id",
        "tags": [
          "Configuration Items"
        ],
        "responses": {
          "204": {
            "description": "No content"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ]
      },
      "get": {
        "operationId": "IConfigurationItems_GetAsync_id_layout",
        "tags": [
          "Configuration Items"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigurationItem"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "layout",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ResponseLayout"
            }
          }
        ]
      },
      "put": {
        "operationId": "IConfigurationItems_UpdateAsync_id_request",
        "tags": [
          "Configuration Items"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigurationItem"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfigurationItemUpdateRequest"
              }
            }
          }
        }
      }
    },
    "/contracts.json": {
      "post": {
        "operationId": "IContracts_CreateAsync_request",
        "tags": [
          "Contracts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contract"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContractCreateRequest"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "IContracts_GetAsync_request",
        "tags": [
          "Contracts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contract"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "layout",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ResponseLayout"
            }
          }
        ]
      }
    },
    "/contracts/{id}/items.json": {
      "post": {
        "operationId": "IContracts_CreateItemAsync_id_request",
        "tags": [
          "Contracts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractItem"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContractItemCreateRequest"
              }
            }
          }
        }
      }
    },
    "/contracts/{id}.json": {
      "delete": {
        "operationId": "IContracts_DeleteAsync_id",
        "tags": [
          "Contracts"
        ],
        "responses": {
          "204": {
            "description": "No content"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ]
      },
      "get": {
        "operationId": "IContracts_GetAsync_id_layout",
        "tags": [
          "Contracts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contract"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "layout",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ResponseLayout"
            }
          }
        ]
      },
      "put": {
        "operationId": "IContracts_UpdateAsync_id_request",
        "tags": [
          "Contracts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contract"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContractUpdateRequest"
              }
            }
          }
        }
      }
    },
    "/contracts/{contractId}/items/{itemId}.json": {
      "delete": {
        "operationId": "IContracts_DeleteItemAsync_contractId_itemId",
        "tags": [
          "Contracts"
        ],
        "responses": {
          "204": {
            "description": "No content"
          }
        },
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ]
      },
      "put": {
        "operationId": "IContracts_UpdateItemAsync_contractId_itemId_request",
        "tags": [
          "Contracts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractItem"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContractItemUpdateRequest"
              }
            }
          }
        }
      }
    },
    "/custom_fields/ALL_MODELS.json": {
      "get": {
        "operationId": "ICustomFields_GetAllModelsAsync",
        "tags": [
          "Custom Fields"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomFieldDefinition"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/custom_fields/get_potential_dynamic_approvals.json": {
      "get": {
        "operationId": "ICustomFields_GetPotentialDynamicApprovalsAsync",
        "tags": [
          "Custom Fields"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PotentialDynamicApprovalsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/setup/custom_forms/{id}.json": {
      "get": {
        "operationId": "ICustomForms_GetAsync_id",
        "tags": [
          "Custom Forms"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomForm"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ]
      }
    },
    "/setup/custom_forms.json": {
      "get": {
        "operationId": "ICustomForms_GetSetupListAsync_request",
        "tags": [
          "Custom Forms"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "is_portal_mode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page_parameters[action]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_parameters[controller]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_parameters[enabled]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_parameters[report_id]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_parameters[sort_by]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_parameters[sort_order]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "report_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ]
      }
    },
    "/dashboards/{id}.json": {
      "get": {
        "operationId": "IDashboards_GetAsync_id_request",
        "tags": [
          "Dashboards"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UiDashboardDetail"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "is_portal_mode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ]
      }
    },
    "/dashboards.json": {
      "get": {
        "operationId": "IDashboards_GetAsync_request",
        "tags": [
          "Dashboards"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UiDashboardSummary"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "is_portal_mode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ]
      }
    },
    "/departments.json": {
      "post": {
        "operationId": "IDepartments_CreateAsync_department",
        "tags": [
          "Departments"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Department"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Department"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "IDepartments_GetAsync",
        "tags": [
          "Departments"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Department"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/departments/{id}.json": {
      "delete": {
        "operationId": "IDepartments_DeleteAsync_id",
        "tags": [
          "Departments"
        ],
        "responses": {
          "204": {
            "description": "No content"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ]
      },
      "get": {
        "operationId": "IDepartments_GetAsync_id_layout",
        "tags": [
          "Departments"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Department"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "layout",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ResponseLayout"
            }
          }
        ]
      },
      "put": {
        "operationId": "IDepartments_UpdateAsync_id_department",
        "tags": [
          "Departments"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Department"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Department"
              }
            }
          }
        }
      }
    },
    "/groups.json": {
      "post": {
        "operationId": "IGroups_CreateAsync_group",
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Group"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "IGroups_GetAsync",
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Group"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/groups/{id}.json": {
      "delete": {
        "operationId": "IGroups_DeleteAsync_id",
        "tags": [
          "Groups"
        ],
        "responses": {
          "204": {
            "description": "No content"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ]
      },
      "get": {
        "operationId": "IGroups_GetAsync_id_layout",
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "layout",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ResponseLayout"
            }
          }
        ]
      },
      "put": {
        "operationId": "IGroups_UpdateAsync_id_group",
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Group"
              }
            }
          }
        }
      }
    },
    "/groups/group_list.json": {
      "get": {
        "operationId": "IGroups_GetGroupListAsync_request",
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Group"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "filter_portal",
            "in": "query",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "filter_queue",
            "in": "query",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ]
      }
    },
    "/hardwares.json": {
      "post": {
        "operationId": "IHardwares_CreateAsync_request",
        "tags": [
          "Hardwares"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hardware"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HardwareCreateRequest"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "IHardwares_GetAsync_request",
        "tags": [
          "Hardwares"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Hardware"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "layout",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ResponseLayout"
            }
          }
        ]
      }
    },
    "/hardwares/{id}/warranties.json": {
      "post": {
        "operationId": "IHardwares_CreateWarrantyAsync_id_request",
        "tags": [
          "Hardwares"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Warranty"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WarrantyCreateRequest"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "IHardwares_GetWarrantiesAsync_id",
        "tags": [
          "Hardwares"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Warranty"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ]
      }
    },
    "/hardwares/{id}.json": {
      "delete": {
        "operationId": "IHardwares_DeleteAsync_id",
        "tags": [
          "Hardwares"
        ],
        "responses": {
          "204": {
            "description": "No content"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ]
      },
      "get": {
        "operationId": "IHardwares_GetAsync_id_layout",
        "tags": [
          "Hardwares"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hardware"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "layout",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ResponseLayout"
            }
          }
        ]
      },
      "put": {
        "operationId": "IHardwares_UpdateAsync_id_request",
        "tags": [
          "Hardwares"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hardware"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HardwareUpdateRequest"
              }
            }
          }
        }
      }
    },
    "/hardwares/{hardwareId}/warranties/{warrantyId}.json": {
      "delete": {
        "operationId": "IHardwares_DeleteWarrantyAsync_hardwareId_warrantyId",
        "tags": [
          "Hardwares"
        ],
        "responses": {
          "204": {
            "description": "No content"
          }
        },
        "parameters": [
          {
            "name": "hardwareId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "warrantyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ]
      },
      "put": {
        "operationId": "IHardwares_UpdateWarrantyAsync_hardwareId_warrantyId_request",
        "tags": [
          "Hardwares"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Warranty"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "hardwareId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "warrantyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WarrantyUpdateRequest"
              }
            }
          }
        }
      }
    },
    "/incident_types/types_list.json": {
      "get": {
        "operationId": "IIncidentTypes_GetTypesListAsync_request",
        "tags": [
          "Incident Types"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IncidentType"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "is_portal_mode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "model",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "op_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "parent_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ]
      }
    },
    "/incidents.json": {
      "post": {
        "operationId": "IIncidents_CreateAsync_request",
        "tags": [
          "Incidents"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Incident"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IncidentCreateRequest"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "IIncidents_GetAsync_request",
        "tags": [
          "Incidents"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Incident"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "applied",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "columns",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connectionId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "created_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created_to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "department[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "description[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "description_is_not[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "layout",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ResponseLayout"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "report_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "requestId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search_in_context",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "title[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "updated",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updated_custom_gte",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updated_custom_lte",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updated_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updated_to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ]
      }
    },
    "/incidents/{id}.json": {
      "delete": {
        "operationId": "IIncidents_DeleteAsync_id",
        "tags": [
          "Incidents"
        ],
        "responses": {
          "204": {
            "description": "No content"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ]
      },
      "get": {
        "operationId": "IIncidents_GetAsync_id_layout",
        "tags": [
          "Incidents"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Incident"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "layout",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ResponseLayout"
            }
          }
        ]
      },
      "put": {
        "operationId": "IIncidents_UpdateAsync_id_request",
        "tags": [
          "Incidents"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Incident"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IncidentUpdateRequest"
              }
            }
          }
        }
      }
    },
    "/augmented_titles.json": {
      "get": {
        "operationId": "IIncidents_GetAugmentedTitlesAsync_request",
        "tags": [
          "Incidents"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AugmentedTitleResponse"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "ids[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "is_portal_mode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "model",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "unmasked",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ]
      }
    },
    "/entity_general_info/{incidentId}.json": {
      "get": {
        "operationId": "IIncidents_GetEntityGeneralInfoAsync_incidentId",
        "tags": [
          "Incidents"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentEntityGeneralInfo"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "object_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "incident"
              ]
            }
          },
          {
            "name": "action_page_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "show"
              ]
            }
          },
          {
            "name": "is_portal_mode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "false"
              ]
            }
          },
          {
            "name": "incidentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ]
      }
    },
    "/incidents/{id}/response_template_variables.json": {
      "get": {
        "operationId": "IIncidents_GetResponseTemplateVariablesAsync_id",
        "tags": [
          "Incidents"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ResponseTemplateVariable"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ]
      }
    },
    "/incidents/{id}/service_monitor_statistic.json": {
      "get": {
        "operationId": "IIncidents_GetServiceMonitorStatisticAsync_id",
        "tags": [
          "Incidents"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceMonitorStatistic"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ]
      }
    },
    "/incidents/{id}/get_workflow.json": {
      "get": {
        "operationId": "IIncidents_GetWorkflowAsync_id",
        "tags": [
          "Incidents"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentWorkflow"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ]
      }
    },
    "/memberships.json": {
      "post": {
        "operationId": "IMemberships_CreateAsync_groupId_userIds",
        "tags": [
          "Memberships"
        ],
        "responses": {
          "204": {
            "description": "No content"
          }
        },
        "parameters": [
          {
            "name": "group_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "user_ids",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/memberships/{id}.json": {
      "delete": {
        "operationId": "IMemberships_DeleteAsync_id",
        "tags": [
          "Memberships"
        ],
        "responses": {
          "204": {
            "description": "No content"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ]
      }
    },
    "/mobiles.json": {
      "post": {
        "operationId": "IMobileDevices_CreateAsync_request",
        "tags": [
          "Mobile Devices"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MobileDevice"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MobileDeviceCreateRequest"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "IMobileDevices_GetAsync",
        "tags": [
          "Mobile Devices"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MobileDevice"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/mobiles/{id}.json": {
      "delete": {
        "operationId": "IMobileDevices_DeleteAsync_id",
        "tags": [
          "Mobile Devices"
        ],
        "responses": {
          "204": {
            "description": "No content"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ]
      },
      "get": {
        "operationId": "IMobileDevices_GetAsync_id_layout",
        "tags": [
          "Mobile Devices"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MobileDevice"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "layout",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ResponseLayout"
            }
          }
        ]
      },
      "put": {
        "operationId": "IMobileDevices_UpdateAsync_id_request",
        "tags": [
          "Mobile Devices"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MobileDevice"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MobileDeviceUpdateRequest"
              }
            }
          }
        }
      }
    },
    "/notifications/unseen_count.json": {
      "get": {
        "operationId": "INotifications_GetUnseenCountAsync",
        "tags": [
          "Notifications"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationUnseenCount"
                }
              }
            }
          }
        }
      }
    },
    "/other_assets.json": {
      "post": {
        "operationId": "IOtherAssets_CreateAsync_request",
        "tags": [
          "Other Assets"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OtherAssetCreateRequest"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "IOtherAssets_GetAsync_request",
        "tags": [
          "Other Assets"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Asset"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "layout",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ResponseLayout"
            }
          }
        ]
      }
    },
    "/other_assets/{id}.json": {
      "delete": {
        "operationId": "IOtherAssets_DeleteAsync_id",
        "tags": [
          "Other Assets"
        ],
        "responses": {
          "204": {
            "description": "No content"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ]
      },
      "get": {
        "operationId": "IOtherAssets_GetAsync_id_layout",
        "tags": [
          "Other Assets"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "layout",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ResponseLayout"
            }
          }
        ]
      },
      "put": {
        "operationId": "IOtherAssets_UpdateAsync_id_request",
        "tags": [
          "Other Assets"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OtherAssetUpdateRequest"
              }
            }
          }
        }
      }
    },
    "/printers/{id}.json": {
      "get": {
        "operationId": "IPrinters_GetAsync_id_layout",
        "tags": [
          "Printers"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Printer"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "layout",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ResponseLayout"
            }
          }
        ]
      },
      "put": {
        "operationId": "IPrinters_UpdateAsync_id_request",
        "tags": [
          "Printers"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Printer"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrinterUpdateRequest"
              }
            }
          }
        }
      }
    },
    "/printers.json": {
      "get": {
        "operationId": "IPrinters_GetAsync",
        "tags": [
          "Printers"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Printer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/problems.json": {
      "post": {
        "operationId": "IProblems_CreateAsync_request",
        "tags": [
          "Problems"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProblemCreateRequest"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "IProblems_GetAsync_request",
        "tags": [
          "Problems"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Problem"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "layout",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ResponseLayout"
            }
          }
        ]
      }
    },
    "/problems/{id}.json": {
      "delete": {
        "operationId": "IProblems_DeleteAsync_id",
        "tags": [
          "Problems"
        ],
        "responses": {
          "204": {
            "description": "No content"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ]
      },
      "get": {
        "operationId": "IProblems_GetAsync_id_layout",
        "tags": [
          "Problems"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "layout",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ResponseLayout"
            }
          }
        ]
      },
      "put": {
        "operationId": "IProblems_UpdateAsync_id_request",
        "tags": [
          "Problems"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProblemUpdateRequest"
              }
            }
          }
        }
      }
    },
    "/purchase_orders.json": {
      "post": {
        "operationId": "IPurchaseOrdersApi_CreateAsync_request",
        "tags": [
          "Purchase Orders"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PurchaseOrder"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PurchaseOrderCreateRequest"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "IPurchaseOrdersApi_GetAsync",
        "tags": [
          "Purchase Orders"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PurchaseOrder"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/purchase_orders/{id}.json": {
      "delete": {
        "operationId": "IPurchaseOrdersApi_DeleteAsync_id",
        "tags": [
          "Purchase Orders"
        ],
        "responses": {
          "204": {
            "description": "No content"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ]
      },
      "get": {
        "operationId": "IPurchaseOrdersApi_GetAsync_id_layout",
        "tags": [
          "Purchase Orders"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PurchaseOrder"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "layout",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ResponseLayout"
            }
          }
        ]
      },
      "put": {
        "operationId": "IPurchaseOrdersApi_UpdateAsync_id_request",
        "tags": [
          "Purchase Orders"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PurchaseOrder"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PurchaseOrderUpdateRequest"
              }
            }
          }
        }
      }
    },
    "/{objectType}/{id}/purchases.json": {
      "post": {
        "operationId": "IPurchases_CreateAsync_objectType_id_request",
        "tags": [
          "Purchases"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Purchase"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "objectType",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ObjectType"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PurchaseCreateRequest"
              }
            }
          }
        }
      }
    },
    "/{objectType}/{id}/purchases/{purchaseId}.json": {
      "delete": {
        "operationId": "IPurchases_DeleteAsync_objectType_id_purchaseId",
        "tags": [
          "Purchases"
        ],
        "responses": {
          "204": {
            "description": "No content"
          }
        },
        "parameters": [
          {
            "name": "objectType",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ObjectType"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "purchaseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ]
      },
      "put": {
        "operationId": "IPurchases_UpdateAsync_objectType_id_purchaseId_request",
        "tags": [
          "Purchases"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Purchase"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "objectType",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ObjectType"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "purchaseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PurchaseUpdateRequest"
              }
            }
          }
        }
      }
    },
    "/releases.json": {
      "post": {
        "operationId": "IReleases_CreateAsync_request",
        "tags": [
          "Releases"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Release"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReleaseCreateRequest"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "IReleases_GetAsync",
        "tags": [
          "Releases"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Release"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/releases/{id}.json": {
      "delete": {
        "operationId": "IReleases_DeleteAsync_id",
        "tags": [
          "Releases"
        ],
        "responses": {
          "204": {
            "description": "No content"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ]
      },
      "get": {
        "operationId": "IReleases_GetAsync_id_layout",
        "tags": [
          "Releases"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Release"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "layout",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ResponseLayout"
            }
          }
        ]
      },
      "put": {
        "operationId": "IReleases_UpdateAsync_id_request",
        "tags": [
          "Releases"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Release"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReleaseUpdateRequest"
              }
            }
          }
        }
      }
    },
    "/setup/response_templates.json": {
      "get": {
        "operationId": "IResponseTemplates_GetSetupListAsync_request",
        "tags": [
          "Response Templates"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "is_portal_mode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
[...]
